:root {

}

body {
	background-color:Azure;
	font-family:"Times New Roman", Times, serif;
}

#title {
	text-align: center;
}

#b-image {
  	background-image: url(banner.png) 

}

h1.hidden {
	border-style: dotted;
	border-width: 25px;
	border-color: gray;
}

p.solid {
	border-style: solid;
	border-width: 5px;
	border-color: purple;
}
