:root {

}

body {
	background-color:Azure;
	font-family:"Times New Roman", Times, serif;
}

div {
  background-color: lightgrey;
  width: 300px;
  border: 15px lightcoral;
  padding: 50px;
  margin: 20px;
}

#title {
	text-align: center;
}

#b-image {
  	background-image: url(banner.png) 

}

#about {
	text-indent: 50px;
  	text-align: justify;
  	letter-spacing: 3px;
}

h1.hidden {
	border-style: dotted;
	border-width: 25px;
	border-color: gray;
}

p.solid {
	border-style: solid;
	border-width: 5px;
	border-color: purple;
}
