:root {

}

body {
	background-color:Azure;
	font-family:"Times New Roman", Times, serif;
	background-image: url("sidebanner.png");
	background-repeat: repeat-y;
	background-position: right top;
	margin-right: 500px;
}


#title {
	text-align: center;
}


#about {
	text-indent: 50px;
  	text-align: justify;
  	letter-spacing: 3px;
}

h1.hidden {
	border-style: dotted;
	border-width: 25px;
	border-color: gray;
}

p.solid {
	border-style: solid;
	border-width: 5px;
	border-color: purple;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;